.lists {
  .card {
    background-color: #e4eaf5;

    .list-item {
      background-color: white;
      margin-bottom: 5px;

      .actions {
        .icon-edit {
          color: #2196f3;
        }

        .icon-delete {
          color: #e91e63;
        }
      }
    }
  }

  &-header {
    &__actions {
      font-size: 12px;

      .icon-edit {
        color: #2196f3;
      }

      .icon-delete {
        color: #e91e63;
      }
    }
  }
}

.dialog {
  &-card {
    width: 300px;
  }
}
